################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dto/Module.Dto/obj
/Dto/Module.Dto/bin
/Factory/Module.Factory/bin
/Factory/Module.Factory/obj
/Factory/Module.Factory.Interface/bin
/Factory/Module.Factory.Interface/obj
/Integration/Module.Integration/bin
/Integration/Module.Integration/obj
/Integration/Module.Integration.Interface/bin
/Integration/Module.Integration.Interface/obj
/Domain/Module.IoC/bin
/Domain/Module.IoC/obj
/Domain/Module.IoC.Register.Interfaces/bin
/Domain/Module.IoC.Register.Interfaces/obj
/Domain/Module.IoC.Register/bin
/Domain/Module.IoC.Register/obj
/Repository/Module.Repository/bin
/Repository/Module.Repository/obj
/Repository/Module.Repository.Interface/bin
/Repository/Module.Repository.Interface/obj
/Repository/Module.Repository.Entity/bin
/Repository/Module.Repository.Entity/obj
/Repository/Command/Module.Repository.Command/obj
/Repository/Command/Module.Repository.Command/bin
/Repository/Command/Module.Repository.Command.Interface/bin
/Repository/Command/Module.Repository.Command.Interface/obj
/Repository/Query/Module.Repository.Query/obj
/Repository/Query/Module.Repository.Query/bin
/Repository/Query/Module.Repository.Query.Interface/bin
/Repository/Query/Module.Repository.Query.Interface/obj
/Service/Module.Service/bin
/Service/Module.Service/obj
/Service/Module.Service.Interface/bin
/Service/Module.Service.Interface/obj
/ServiceValidation/Module.Service.Validation/bin
/ServiceValidation/Module.Service.Validation/obj
/ServiceValidation/Module.Service.Validation.Interface/bin
/ServiceValidation/Module.Service.Validation.Interface/obj
/UI/Test/UnitTest/bin
/UI/Test/UnitTest/obj
/UI/WebApi/bin
/UI/WebApi/obj
/Utils/Module.Utils/obj
/Utils/Module.Utils/bin
/.vs
/.vscode